<a href="https://colab.research.google.com/github/ClaudielePatri/aula_bootstrap/blob/main/Analista_de_dados_Low_Code_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Básico Python

In [ ]:
print("Olá mundo")

Olá mundo

In [ ]:
'''
Olá, pessoas Soulcoders! Somos
incríveis!

'''

#Olá mundo

#Tipos de dados

##Str (String)

In [ ]:
nome = 'Dannyelly' #string
print(nome)
type(nome)

Dannyelly

str

##Inteiro (int)

In [ ]:
idade = 32 #inteiro
print(idade)
type(idade)

32

int

##Float

In [ ]:
altura = 1.63 #float
print(altura)
type(altura)

1.63

float

##Booleano(bool)

In [ ]:
estudante = True / False  #booleano
print(estudante)
type(estudante)

True

bool

#Operadores Matemáticos

In [ ]:
#soma (+)
a = 2
b = 3
c = a + b
print(c)

5

In [ ]:
#subtração (-)
a = 3
b = 2
c = a - b
print(c)

1

In [ ]:
#divisão (/)
a = 5
b = 5
c = 5/5
print(c)

1.0

In [ ]:
#multiplicação (*)
a = 2
b = 3
c = a * b
print(c)

In [ ]:
#parte inteira (//)
a = 5
b = 5
c = a // b
print(c)

1

In [ ]:
#resto da divisão (%)
a = 5
b = 5
c = a % b
print(c)

0

In [ ]:
#potenciacao (**)
a = 5
b = 5
c = a ** b
print(c)

3125

#Operadores Relacionais

In [ ]:
#Comparação (==)
a= 5
b = 5
c = a == b
print(c)
type(c)

True

bool

In [ ]:
#Diferente de (!=)
a = 5
b = 6
c = a!=b
print(c)
type(c)

True

bool

In [ ]:
#Maior que (>)
a = 10
b = 20
c = a>b
print(c)

False

In [ ]:
#Menor que (<)
a = 7
b = 8
c = a<b
print(c)

True

In [ ]:
#Maior ou igual (>=)
a = 25
b = 36
c = a>=b
print(c)

False

In [ ]:
#Menor ou igual (<=)
a = 27
b = 36
c = a<=b
print(c)

True

In [ ]:
#And
a = 5
b = 3
c = a>b and a>10
print(c)

False

In [ ]:
#or (ou)
a = 7
b = 6
c = a>b or a==6
print(c)

True

In [ ]:
#not
a = 8
b = 9
c = not a>b
print(c)

True

In [ ]:
nome = 'Dannyelly' #string
#print(nome)
idade = 31
altura = 1.63

#
print(f'Meu nome é {nome}, ela tem {idade} anos e a altura dela é {altura}')

Meu nome é Dannyelly, ela tem 31 anos e a altura dela é 1.63

In [ ]:
#divisão
a = 5.23
b = 2
c = a/b
print(c)
#print(f'{c:.0f}')

2.615
3
2.62

In [ ]:
'''
É uma boa prática arredondar a exibição ao invés do armazenamento
'''
print(round(c,2))# Arredonda a exibição

In [ ]:
input() #para entrada de dados

15

'15'

In [ ]:
nome = input('Qual seu nome? ')
idade = int(input('Qual sua idade? '))
altura = float(input('Qual sua altura? '))
conta = idade * altura
print('----------------------')
print(conta)
print(nome)
print(idade)
print(type(idade))
print(altura)

Qual seu nome? Danny
Qual sua idade? 31
Qual sua altura? 1.63
----------------------
50.529999999999994
Danny
31
<class 'int'>
1.63

#Condição IF, Elif e Else

In [ ]:
#Condição IF
'''
O If é usado quando a condição é verdadeira
'''

idade = int(input('Qual a sua idade? '))

if idade >18:
    print('Você é maior de idade!')

Qual a sua idade31
Você é maior de idade!

In [ ]:
#Else
'''
O Else é usado quando a condição é falsa

'''

idade = int(input('Qual a sua idade? '))

if idade >=18:
    print('Você é maior de idade!')
else:
    print('Você é menor de idade!')

In [ ]:
#Elif

'''
O elif é usado quando precisamos verificar mais de uma condição
'''

nota = float(input('Qual a sua nota? '))

if nota > 9:
    print('Aluno aprovado')
elif nota <= 5:
    print('Aluno em recuperação')
elif nota < 9:
    print('Aluno reprovado')
else:
    print('Nota inválida')

#Exercicios

In [ ]:
'''

1- Crie um programa que solicite ao usuário seu nome e idade e depois exiba essa informação formatada.

2- Crie uma variável para armazenar um número inteiro, um número decimal e uma string. Exiba os valores e seus tipos.

3 - Peça dois números ao usuário e exiba a soma, subtração, multiplicação e divisão entre eles.

4- Peça um número ao usuário e verifique se ele é maior que 10.

'''

##Revisão

In [ ]:
#1 -
nome = input('Qual seu nome? ')
idade = int(input('Qual sua idade? '))

print(f'Seu nome é {nome} e a sua idade é {idade}')

In [ ]:

num_decimal = 2.58
string = "Maracuja"
num_inteiro = 31

print(num_decimal)
print(type(num_decimal))
print(string)
print(type(string))
print(num_inteiro)
print(type(num_inteiro))

2.58
<class 'float'>
Maracuja
<class 'str'>
31
<class 'int'>

In [ ]:
n= int(input('Digite um número: '))
d= float(input('Digite um número decimal: '))
s= str(input('Digite uma letra ou palavra: '))
print(f'O número inteiro é {n}, e seu tipo é {type(n)}\no número decimal é {d}, e seu tipo é{type(d)}\ne a string é {s},  e seu tipo é {type(s)}')

Digite um número: 31
Digite um número decimal: 2.58
Digite uma letra ou palavra: S
O número inteiro é 31, e seu tipo é <class 'int'>
o número decimal é 2.58, e seu tipo é<class 'float'>
e a string é S,  e seu tipo é <class 'str'>

In [ ]:
#Peça dois números ao usuário e exiba a soma, subtração, multiplicação e divisão entre eles.

num1 = int(input('Qual o primeiro numero?'))
num2 = int(input('Qual o segundo numero?'))

soma = num1+num2
print(soma)

sub = num1-num2
print(sub)

multi = num1*num2
print(multi)

div = num1/num2
print(round(div,2))

Qual o primeiro numero?10
Qual o segundo numero?35
45
-25
350
0.29

In [ ]:
#4- Peça um número ao usuário e verifique se ele é maior que 10.

num = int(input('Insira um número inteiro, por gentileza:'))

if num > 10:
  print('O número é maior que o número 10')
elif num == 10:
  print('O número é igual a 10')
else:
  print('O número não é maior que o número 10')

Insira um número inteiro, por gentileza:11
O número é maior que o número 10

In [ ]:
'''O nome das variaveis precisam podem ser com letras maiusculas e minusculas, porem lembrem-se que uma variavel com
o mesmo nome e letras maisculas e minusculas são variaveis diferentes.'''

nome = 'Dannyelly'
Nome = "Dannyelly"

#Nome de variaveis com espeço incluir 'underline'
dannyelly_dayane =

#Tipos de estruturas

In [ ]:
#para criar uma lista, usa-se colchetes [] e podem ser alteradas após criação, além disso,
#o acesso aos elementos é pelo indice;
#para criar uma tupla, usam-se parênteses () e não podem ser alteradas após a criação.
#para criar um dicionário, usa-se chaves {} e pares chave-valor os valores podem ser alterados, mas as chaves são imutáveis.

##Listas

In [ ]:
lista = [1, 2, 3, 4, 5]
        #0, 1, 2, 3, 4
         #-5,-4,-3,-2,-1

print(lista[1])
print(lista[1:4])
print(lista[::2])
print(lista[::-1])


#print(nome[inicio:fim:passos])
#inicio ele vai inclusive, ou seja, ele vai incluir o numero do indice
#o numero fim, é exclusive, ou seja, ele vai excluir o valor do indice.

2
[2, 3, 4]
[1, 3, 5]
[5, 4, 3, 2, 1]

In [ ]:
print(lista)
print(type(lista))

lista2 = ['banana','maça','limão','maracujá']
print(lista2)

[10, 1, 2, 3, 4, 5]
<class 'list'>
['banana', 'maça', 'limão', 'maracujá']

In [ ]:
#IN

if 'maça' in lista2:
  print('A maça está presente na lista')
else:
  print('Não tem maça, precisamos comprar.')

#NOT IN
print('maça' not in lista2)

A maça está presente na lista
False

In [ ]:
if 1 in lista:
  print('Tem o numero 1 na lista')
else:
  print('Não tem o numero 1 na lista')

Tem o numero 1 na lista

In [ ]:
print(len(lista))
print(type(lista))

35

In [ ]:
numeros=[1,2,3,[1,2,3],[4,5,6],[7,8,9]]
print(len(numeros))

6

###Metodos das listas

####Append

In [ ]:
#1. append()
#Adiciona um elemento no final da lista.

frutas = ['banana', 'maça', 'maracujá', 'melão']

frutas.append('uva')
print(frutas)  # ['banana', 'maça', 'maracujá', 'melão', 'uva']

lista = [1, 2, 3, 4, 5]
lista.append(6)
print(lista)

['banana', 'maça', 'maracujá', 'melão', 'uva']
[1, 2, 3, 4, 5, 6]
['banana', 'pera', 'maça', 'maracujá', 'melão', 'uva']
['kiwi', 'banana', 'pera', 'maça', 'maracujá', 'melão', 'uva']
[10, 1, 2, 3, 4, 5]

####Insert

In [ ]:
#Insere um elemento em uma posição específica da lista
#(passando o índice e o valor)

frutas.insert(1, 'pera')
print(frutas)

'''nomedalista.metodo(valor do indice, dado que vai ser inserido)'''

frutas.insert(0,'kiwi')
print(frutas)

lista = [1, 2, 3, 4, 5]
lista.insert(0,10)
print(lista)

['pera']
['kiwi', 'pera']
[10, 1, 2, 3, 4, 5]

####Remove

In [ ]:
#Remove um item da lista por valor especificado

'''lista.remove(5)
print(lista)'''

frutas.remove('maça' and 'pera')
print(frutas)

['kiwi', 'banana', 'maracujá', 'melão', 'uva']

####Pop

In [ ]:
#Remove e retorna um item da lista por índice
frutas.pop(0 and 1)
print(frutas)

['maracujá', 'melão', 'uva']

####index

In [ ]:
frutas.index('melão')

ValueError: 'melão' is not in list

####Count

In [ ]:
frutas.count('melão')

1

####Sort

In [ ]:
#se for numero vai ser crescente e se for string vai ser alfabetico
frutas.sort()
print(frutas)

['melão', 'uva']

####Reverse

In [ ]:
frutas.reverse()
print(frutas)

[]

####Extend

In [ ]:
#extend
#
'''frutas = ['uva', 'melão']
frutas2 = ['limão','maça','kiwi']
frutas2.extend(frutas)
print(frutas2)'''
'''
num = [1,2, 3, 'maça']
num2 = [1,5,7,'pera']
num.extend(num2)
print(num)
'''
lista_final = num + num2
print(lista_final)

[1, 2, 3, 'maça', 1, 5, 7, 'pera', 1, 5, 7, 'pera']

In [ ]:
# clear()
frutas.clear()
print(frutas)

[]

In [ ]:
num = [1,2,3]
num2 = [3,4,5]
num.insert(0, 5 and 1,7 )
print(num)

TypeError: insert expected 2 arguments, got 3

##Tupla

In [ ]:
cidade = ('São paulo',"Rio de janeiro", 'Salvador')
print(type(cidade))

<class 'tuple'>
()

##Dicionário

In [ ]:

cliente = {
    'nome':'Dannyelly',
    'idade':31,
    'endereco': 'rua do maracuja'}
print(type(cliente))

<class 'dict'>

###Metodos do dicionários

####Get

In [ ]:
'''print(cliente['nome'])
print(cliente['idade'])
print(cliente['endereco'])
'''
cliente.get('nome')

'Dannyelly'

####Values

In [ ]:
#Esse metodo aparece os valores do dicionario
cliente.values()

nota = {'prova1:':8.5,
        'prova2':8.7}


(print(nota.values()))

media = sum(nota.values())/len(nota)
print(media)

print(len(nota))

dict_values([8.5, 8.7])
8.6
2

####Keys

In [ ]:
nota = {'prova1:':8.5,
        'prova2':8.7}
nota.keys()
#Esse metodo vai aparecer as chaves do dicionario

dict_keys(['prova1:', 'prova2'])

####Atribuição

In [ ]:
cliente['altura'] = 1.63
cliente['altura'] = 1.64
print(cliente)

{'nome': 'Dannyelly', 'idade': 31, 'endereco': 'rua do maracuja', 'altura': 1.64}

In [ ]:
cliente.clear()

#Tuplas Aninhadas

In [ ]:
aninhada_tupla = (('são paulo',"rio de janeiro"), ('salvador','recife'), ('manaus'))

In [ ]:
print(aninhada_tupla[1][])

('salvador', 'recife')